<section >
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>

          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class=" txt  mb-0 me-3 p-5 " style="color: rgb(30, 30, 160);"><strong> Demande de documentation administratif </strong></p>
            
          </div>

          
          <div class=" txt1 form-outline mb-4">
            <label class="form-label txt1" for="InputMatricule"><strong><i> Matricule</i></strong></label>
            <input type="text"  id="mat_Pers" class="form-control form-control-lg" />
          </div>
          <!--  Date de demande -->
          <div class=" txt1 form-outline mb-4">
            <label class="form-label" for="form3Example3">Date de demande</label>
            <input type="date" id="form3Example3" class="form-control form-control-lg" />
          </div>

          
          <div class="mb-3">
            <label for="disabledSelect" class="form-label txt1"><i>type de documentation</i> </label>
              <select id="disabledSelect" class="form-select">
                <option>selectionner votre type de document</option>
                <option>certificat de maladie</option>
                <option>fiche de paie </option>
                <option>attestation de présence</option>
                <option>Extrait de naissance</option>
              </select>
          </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label txt1">Ajouter un fichier</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1 tt" class="form-label"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ecrire quelque chose"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-warning px-4  ">Enregistrer</button>
          </form>
      </div>
    </div>
  </div>
 

</section>
