<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">S'inscrire maintenant</h2>
          <form (ngSubmit)="savepers()" [formGroup]="formpers">
            
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" autoComplete="lastName" formControlName="lastName" id="lastName" placeholder="Saisir votre nom" />
                  <label class="form-label" for="form3Example1">Nom</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" autoComplete="firstName" formControlName="firstName" id="firstName" placeholder="Saisir votre Prénom"/>
                  <label class="form-label" for="form3Example2">Prénom</label>
                </div>
              </div>
            </div>
            
            <!-- 2 column grid layout with text inputs for the matricule and email -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" autoComplete="matricule" formControlName="matricule" id="matricule" placeholder="Saisir votre matricule" />
                  <label class="form-label" for="form3Example1">Matricule</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="email" id="form3Example2" class="form-control" autoComplete="email" formControlName="email" id="email" placeholder="Saisir votre adresse email"/>
                  <label class="form-label" for="form3Example2">Email</label>
                </div>
              </div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control"  id="password" formControlName="password" placeholder="Saisir votre mot de passe" type="password" />
              <label class="form-label" for="form3Example4">Mot de passe</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="form3Example3" class="form-control" placeholder="Répéter le mot de passe"/>
              <label class="form-label" for="form3Example3">Mot de passe</label>
            </div>

           
         

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 col"  >
              S'inscrire
            </button>
            <button type="submit" class="btn btn-primary btn-block mb-4 col" routerLink="/login"  style="margin-left: 10px;">
              Se Connecter
            </button>

           
           
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->



<!-- <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form (ngSubmit)="savepers()" [formGroup]="formpers">

               <h1>Enregistrer</h1>
              <p class="text-medium-emphasis">Créez votre compte</p>
              <c-input-group class="mb-3">
                <span>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="matricule" formControlName="matricule" id="matricule" placeholder="Matricule" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span>@</span>
                <input autoComplete="email" formControlName="email" id="email" placeholder="Email" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input  id="password" formControlName="password" placeholder="Mot de passe" type="password" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input  id="password" placeholder="Répéter le mot de passe" type="password" />
              </c-input-group>
              <div class="d-grid">
                <button color="primary" >Créer un compte
                </button>
              </div> 
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div> -->